services:
	orisai.scheduler.jobManager: OriNette\Scheduler\DI\LazyJobManager(
		jobSchedules: [
			job1: [
				job: app.job1,
				expression: '1 * * * *',
				repeatAfterSeconds: 0,
				timeZone: null,
			],
			job2: [
				job: app.job2,
				expression: '2 * * * *',
				repeatAfterSeconds: 10,
				timeZone: 'Europe/Prague',
			],
			3: [
				job: app.job3,
				expression: '3 * * * *',
				repeatAfterSeconds: 30,
				timeZone: 'UTC',
			],
		],
	)

	app.job1: Tests\OriNette\Scheduler\Doubles\TestJob('job1')
	app.job2: Tests\OriNette\Scheduler\Doubles\TestJob('job2')
	app.job3: Tests\OriNette\Scheduler\Doubles\TestJob('job3')
