services:
	orisai.scheduler.jobManager: OriNette\Scheduler\DI\LazyJobManager(
		jobSchedules: [
			job1: [
				job: app.job1,
				expression: '1 * * * *',
				repeatAfterSeconds: 0,
				timeZone: null,
			],
		],
	)

	app.job1: \stdClass
