extensions:
	orisai.scheduler: OriNette\Scheduler\DI\SchedulerExtension

orisai.scheduler:
	jobs:
		0:
			expression: * * * * *
			job: Tests\OriNette\Scheduler\Doubles\TestJob('0')
			repeatAfterSeconds: 0
		1:
			expression: 0 * * * *
			job: Tests\OriNette\Scheduler\Doubles\TestJob('1')
			repeatAfterSeconds: 1
			timeZone: Europe/Prague
		2:
			expression: 1 * * * *
			job: Tests\OriNette\Scheduler\Doubles\TestJob('2')
			repeatAfterSeconds: 30
			timeZone: UTC

services:
	- Orisai\Clock\FrozenClock(1)
