extensions:
	orisai.console: OriNette\Console\DI\ConsoleExtension
	orisai.scheduler: OriNette\Scheduler\DI\SchedulerExtension

orisai.scheduler:
	executor: process
	console:
		script: tests/Unit/DI/schedulerExtensionProcessExecutable.php

	jobs:
		0:
			expression: * * * * *
			callback: [@service, 'do']
		1:
			expression: 0 * * * *
			job: Tests\OriNette\Scheduler\Doubles\TestJob('1')
		2:
			expression: 1 * * * *
			job: Tests\OriNette\Scheduler\Doubles\TestJob('2')

services:
	service: Tests\OriNette\Scheduler\Doubles\TestService
	- Orisai\Clock\FrozenClock(1)
