extensions:
	orisai.scheduler: OriNette\Scheduler\DI\SchedulerExtension

orisai.scheduler:
	executor: basic

	jobs:
		-
			expression: * * * * *
			callback: Tests\OriNette\Scheduler\Doubles\TestService()

	events:
		beforeJob:
			- @handler
			- [@handler, 'handle']
			- Tests\OriNette\Scheduler\Doubles\TestJobEventHandler()
			- [Tests\OriNette\Scheduler\Doubles\TestJobEventHandler(), 'handle']
		afterJob:
			- @handler
			- [@handler, 'handle']
			- Tests\OriNette\Scheduler\Doubles\TestJobEventHandler()
			- [Tests\OriNette\Scheduler\Doubles\TestJobEventHandler(), 'handle']

services:
	recorder: Tests\OriNette\Scheduler\Doubles\TestEventRecorder
	handler: Tests\OriNette\Scheduler\Doubles\TestJobEventHandler
