parameters:
	ignoreErrors:
		-
			message: "#^Method OriNette\\\\Scheduler\\\\DI\\\\LazyJobManager\\:\\:getExpressions\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/DI/LazyJobManager.php

		-
			message: "#^Method OriNette\\\\Scheduler\\\\DI\\\\LazyJobManager\\:\\:getPair\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: ../src/DI/LazyJobManager.php

		-
			message: "#^Method OriNette\\\\Scheduler\\\\DI\\\\LazyJobManager\\:\\:getPair\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/DI/LazyJobManager.php

		-
			message: "#^Method OriNette\\\\Scheduler\\\\DI\\\\LazyJobManager\\:\\:getPairs\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: ../src/DI/LazyJobManager.php

		-
			message: "#^Call to function method_exists\\(\\) with 'Orisai\\\\\\\\Scheduler\\\\\\\\Scheduler' and 'getJobSchedules' will always evaluate to true\\.$#"
			count: 1
			path: ../src/DI/SchedulerExtension.php

		-
			message: "#^Call to function method_exists\\(\\) with 'Orisai\\\\\\\\Scheduler\\\\\\\\Scheduler' and 'getJobSchedules' will always evaluate to true\\.$#"
			count: 3
			path: ../tests/Unit/DI/SchedulerExtensionTest.php

		-
			message: "#^Call to function method_exists\\(\\) with Orisai\\\\Scheduler\\\\Status\\\\RunSummary and 'getJobs' will always evaluate to false\\.$#"
			count: 2
			path: ../tests/Unit/DI/SchedulerExtensionTest.php
