parameters:
	ignoreErrors:
		-
			message: "#^Cannot access property \\$records on Tests\\\\OriNette\\\\Scheduler\\\\Doubles\\\\TestEventRecorder\\|null\\.$#"
			count: 2
			path: ../tests/Unit/DI/SchedulerExtensionTest.php

		-
			message: "#^Cannot access property \\$records on Tests\\\\OriNette\\\\Scheduler\\\\Doubles\\\\TestSchedulerLogger\\|null\\.$#"
			count: 2
			path: ../tests/Unit/DI/SchedulerExtensionTest.php

		-
			message: "#^Cannot call method run\\(\\) on Orisai\\\\Scheduler\\\\Scheduler\\|null\\.$#"
			count: 5
			path: ../tests/Unit/DI/SchedulerExtensionTest.php

		-
			message: "#^Cannot call method run\\(\\) on Symfony\\\\Component\\\\Console\\\\Application\\|null\\.$#"
			count: 1
			path: ../tests/Unit/DI/schedulerExtensionProcessExecutable.php
